# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# environment variables
.env
.env.production
.env.local

# vercel
.vercel

# OS files
.DS_Store
Thumbs.db
public/music-studio-video.mp4
public/orbital-preview.mp4
