---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import SectionDivider from "../components/SectionDivider.astro";
import Features from "../components/Features.astro";
import SoundLibrary from "../components/SoundLibrary.astro";
import SocialProof from "../components/SocialProof.astro";
import Pricing from "../components/Pricing.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import ScrollAnimations from "../components/ScrollAnimations.astro";
import CartDrawer from "../components/CartDrawer";
---
<Layout title="Orbital - Next-Generation Audio Synthesizer | CreativAudio">
  <Header />
  <main>
    <Hero />
    <SectionDivider />
    <Features />
    <SectionDivider />
    <SoundLibrary />
    <SectionDivider />
    <SocialProof />
    <SectionDivider />
    <Pricing />
    <SectionDivider />
    <FAQ />
  </main>
  <Footer />
  <CartDrawer client:load />
  <ScrollAnimations />
</Layout>
